#home-page {
  text-align: center;

}
#home-page section > p {
  margin: 0 0 4rem;
}

@media only screen and (min-width: 1261px) {
  #home-page section > p {
    margin: 1rem 4rem 4rem;
  }
}
@media only screen and (min-width: 333px) {
  #home-page > :nth-child(1) {
    background-image: url('../../background-images/field-large.jpg');
  }
}
@media only screen and (max-width: 332px) {
  #home-page > :nth-child(1) {
    color:  white;
    background-image: url('../../background-images/field-small.jpg');
  }
}
#home-page > :nth-child(1) {
  background-attachment: fixed;
  background-color: #433d3d; /* fallback */
  color: white;
  padding: 4rem 4rem 2.5rem;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
  border-bottom: none;
}
#home-page h1 {
  color: white;
  font-size: 1.65rem;
  margin: 0 0 0.5rem;
  filter: drop-shadow(0 0 6px black);

}
@media only screen and (min-width: 450px) {
  #home-page h1 {
    font-size: 2rem;
  }
}
@media only screen and (min-width: 767px) {
  #home-page > :nth-child(1) {
    padding: 12rem 4rem 10.5rem;
  }
  #home-page h1 {
    font-size: 2.5rem;
  }
}
#home-page h2 {
  margin: 3rem 4rem 4rem; 
  font-size: 1.75rem;
  font-family: serif;
  font-weight: 300;
}
#home-page .categories {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 0 1.563rem 2rem;
}
#home-page img {
  width: 100%;
}
#home-page .categories span {
  display: block;
  font-size: 1.25rem;
  margin-bottom: 2rem;
}
@media only screen and (min-width: 767px) {
  #home-page img {
    max-width: 15rem;
    /*-webkit-box-reflect: below 2rem linear-gradient(to top, rgba(255, 255, 255, 0.2), transparent 51%, transparent 100%);*/
  }
  #home-page .categories span {
    font-size: 1.25rem;
  }
  #home-page > :nth-child(2) p {
    padding-left: 8rem;
    padding-right: 8rem;
  }
}
@media only screen and (min-width: 333px) {
  #home-page > :nth-child(3) {
    background-image: url('../../background-images/sitting-on-floor-large.jpg');
  }
}
@media only screen and (max-width: 332px) {
  #home-page > :nth-child(3) {
    color:  white;
    background-image: url('../../background-images/sitting-on-floor-small.jpg');
  }
}
#home-page > :nth-child(3) {
  background-attachment: fixed;
  background-color: #4d4b3f; /* fallback */
  color: white;
  padding: 4rem 4rem 2.5rem;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
  border-bottom: none;
}