footer {
	justify-content: space-between;
	color: #c8c5ba;
	display: flex;
	flex-flow: row wrap;
	background-color: #433d3d;
	padding: 1rem;
	align-items: center;
}
footer p {
	margin: 0;
}
footer div a {
	color: #c8c5ba;
	margin-right: 1rem;
	text-decoration: none;
}