@-ms-viewport{
  width: device-width;
}
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*, *:before, *:after {
  box-sizing: inherit;
  color: black;
}
h1 {
  font-weight: 400;
  font-family: 'Cinzel', 'Garamond', serif;
}
